$danger: #cc0000;
$warning: #FFB800;


$income: #93D800;
$outcome: #cd0000;
$light-gray:#FAFAFA;
$medium-gray:  #E5E5E5;
$dark-gray:  #A0A0A0;
$muted: #6C757D;
$shark: #202327;
$orange: #FE9D04;
$yellow:#FFBF00;
